body{
    font-family: 'Inter', sans-serif;
}
header {
  height: 75px;
  width: auto;
  background-color: black;
}
.main_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.main_nav a{
    color: white;
}
.main_nav h1{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: thin;
    
}

.main_nav li{
    display: inline-block;
    color: white;
    margin-right: 20px;
}