body{
    font-family: 'Inter', sans-serif;
}
header {
  height: 75px;
  width: auto;
  background-color: black;
}
.main_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.main_nav a{
    color: white;
}
.main_nav h1{
    color: white;
    font-family: 'Inter', sans-serif;
    letter-spacing:-.025em;
  
}

.main_nav li{
    display: inline-block;
    color: white;
    margin-right: 20px;
    font-family: 'Inter', sans-serif;
font-weight: 200;
letter-spacing:-.05em;
font-size: 1.25rem;
}

div.borderYtoX a:before, div.borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderYtoX a:before
{
    left: 0px;
    top: 0px;
}

div.borderYtoX a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderYtoX a:hover:before, div.borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}